<div class="login-container">
  <p-toast position="top-center"></p-toast>
  <p-card [style]="cardStyles">
    <!-- Header con ícono animado -->
    <ng-template #header>
      <div class="header-container">
        <div class="avatar-circle">
          <i class="pi pi-user avatar-icon"></i>
        </div>
      </div>
    </ng-template>

    <!-- Título -->
    <ng-template #title>
      <div class="login-title">Registro</div>
    </ng-template>

    <!-- Inputs -->
    <div class="form-fields">
      <div class="label">Nombre de usuario</div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input pInputText [(ngModel)]="username" placeholder="Usuario" class="input-modern" name="username" required />
      </p-inputgroup>

      <div class="label">Contraseña</div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" [(ngModel)]="password" placeholder="Contraseña" class="input-modern" name="password" required />
      </p-inputgroup>

      <div class="label">Confirmar Contraseña</div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar Contraseña" class="input-modern" name="confirmPassword" required />
      </p-inputgroup>
    </div>

    <!-- Código QR -->
    <div *ngIf="qrCode" class="mt-4">
      <h3>Escanea este código QR con Google Authenticator</h3>
      <img [src]="qrCode" alt="QR Code" style="max-width: 200px;" />
    </div>

    <!-- Botones -->
    <ng-template #footer>
      <div class="login-buttons">
        <p-button
          (click)="register()"
          label="Registrarse"
          severity="primary"
          [ngClass]="'w-full modern-button'"
        ></p-button>
        <p-button
          *ngIf="qrCode"
          label="Ir a Iniciar Sesión"
          severity="secondary"
          [outlined]="true"
          [ngClass]="'w-full modern-button-outlined'"
          (click)="navigateToLogin()"
        ></p-button>
        <p-button
          *ngIf="!qrCode"
          label="Iniciar Sesión"
          severity="secondary"
          [outlined]="true"
          [ngClass]="'w-full modern-button-outlined'"
          routerLink="/auth/login"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
