<div class="login-container">
  <p-toast position="top-center"></p-toast>
  <p-card [style]="cardStyles">
    <!-- Header con ícono animado -->
    <ng-template #header>
      <div class="header-container">
        <div class="avatar-circle">
          <i class="pi pi-user avatar-icon"></i>
        </div>
      </div>
    </ng-template>

    <!-- Título -->
    <ng-template #title>
      <div class="login-title">Inicio de Sesión</div>
    </ng-template>

    <!-- Inputs -->
    <div class="form-fields">
      <div class="label">Nombre de usuario</div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input pInputText [(ngModel)]="username" placeholder="Usuario" class="input-modern" name="username" required />
      </p-inputgroup>

      <div class="label">Contraseña</div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" [(ngModel)]="password" placeholder="Contraseña" class="input-modern" />
      </p-inputgroup>

      <div class="label">Código OTP</div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-shield"></i>
        </p-inputgroup-addon>
        <input pInputText [(ngModel)]="otp" placeholder="Código OTP" class="input-modern" name="otp" required />
      </p-inputgroup>
    </div>

    <!-- Botones -->
    <ng-template #footer>
      <div class="login-buttons">
        <p-button
          (click)="login()"
          label="Iniciar Sesión"
          severity="primary"
          [ngClass]="'w-full modern-button'"
        ></p-button>
        <p-button
          label="Regístrate"
          severity="secondary"
          [outlined]="true"
          [ngClass]="'w-full modern-button-outlined'"
          routerLink="/auth/register"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
