<p-menubar [model]="items">
    <ng-template #start>
      <img src="https://play-lh.googleusercontent.com/BuBvUJssGbeEIHmg3QlN0bvUYwZleGIHtJwCHEKHyfIqwkypkIesyrjnZKGTLI_GNaHB" width="33" height="35" alt="Logo" />
    </ng-template>
    <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
            <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
            <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
        </a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2">
            <input type="text" pInputText placeholder="Search" class="w-36" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </div>
    </ng-template>
</p-menubar>

<div class="kanban-board">
  <p-panel *ngFor="let column of kanbanColumns" [header]="column.header" class="kanban-column" [style]="{'background-color': getColumnColor(column.status)}">
    <ng-container *ngFor="let task of column.tasks">

      <p-card [ngStyle]="{'background-color': getCardColor(task.status)}">
        <ng-template pTemplate="header">
          <h4 class="task-title">{{ task.name }}</h4>
        </ng-template>
        <div class="task-content">
          <p class="task-description">{{ task.description }}</p>
          <small class="task-deadline">Creación: {{ task.created_at }}</small>
          <br>
          <small class="task-deadline">Fecha límite: {{ task.dead_line }}</small>
        </div>
      </p-card>

      <br>
    </ng-container>
  </p-panel>
</div>
